body {
  font-family: monospace;
  margin:0;
}

/* navigating the website */
#navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
}

.sortType {
  background-color: transparent;
  font-size: 14px;
  padding: 1em;
  color:white;
  width:100%;
  text-align: center;
  transition:0.5s;
}

.sortType:hover {
  background-color: #aaa;
  color: black;
}

.selectedType {
  background-color: #fff;
  font-size: 14px;
  padding: 1em;
  color:black;
  width:100%;
  text-align: center;
  transition:0.5s;
}

#content {
  display: flex;
  justify-content: space-evenly;
}

#information {
  padding: 4em;
  width: auto;
}

.bold {
  font-weight: bold;
}
.complexity {
  font-style: italic;
}

/* the sorting visuals and stuff */
#visuals {
  display: grid;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 2% 10% 2% 4%;
}

#controls {
  display: inline-block;
  width: max-content;
  justify-self: center;
}


#stepsArr {
  border-top: 3px solid #333;
  max-height: 375px;
  width: fit-content;
  overflow-y: auto;
}

.item {
  border: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.array {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: inline-flex;
  margin: 0.5em 0;
}

button {
  border: 2px solid black;
  font-size: 18px;
  width: fit-content;
  font-family: monospace;
  margin: 1em 0;
}

li{
  margin-bottom: 1em;
}

.code {
  border-radius: 0.2em;
  border: 1px solid #777;
  padding: 0 0.25em;
  background-color: #ccc;
}

/* from https://teamtreehouse.com/community/showhide-elements-depending-on-screen-size */
@media screen and (max-width: 768px) {
  #content  { display: grid; justify-content: center;}
  #visuals { padding: 0; align-self: center; justify-self: center;}
  #stepsArr {max-height: none; overflow-y: auto;}
}
